.sidebar {
    left: -300em;
}

.slideOut {
    -webkit-transition: width 1s ease, margin 1s ease;
    -moz-transition: width 1s ease, margin 1s ease;
    -o-transition: width 1s ease, margin 1s ease;
    transition: width 1s ease, margin 1s ease;
}

.butn {
    top: 250px !important;
}
